
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Assets/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Assets/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Assets/Scripts/bootstrap.js"></script>
</head>
<body>
    <div>
       
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                </div>

                <div class="panel-body">

                    <div class="col-md-12" style="margin-top:15px;  margin-bottom:15px;">
                        <h1 class="panel-title">Sadece admin erişebilecek.</h1>
                        if (@HttpContext.Current.User != null)
                        {
                        <h3>Kullanici:@HttpContext.Current.User.Identity.Name</h3>
                        }
                        else
                        {

                        }
                    </div>

                </div>


            </div>

        </div>
    </div>
    </div>
</body>
</html>
